@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  p, li , span , a , button , label , input , textarea {
    font-family: 'Roboto', sans-serif ;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
  }
}


